.sidebar img{
   width: 60px;
   cursor: pointer;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar-list{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style: none;
    height: 0;
    transition: 300ms;
}

.sidebar-list-active{
    height: 300px;
}

.sidebar-list-item{
    border-radius: 50%;
    height: 24px;
    width: 24px;

}